html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    margin-top: calc(100% / 900 * 110);
    margin-right: calc(100% / 1200 * 180);
    margin-left: calc(100% / 1200 * 170);
    margin-bottom: calc(100% / 900 * 150);
    width: calc(100% / 1200 * 850);
    height: calc(100% / 900 * 640);
}

.wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.col {
    flex: 0 0 auto;
    height: calc(100% / 640 * 570);
}

.col:nth-child(2) {
    flex: 0 0 100%;
}

.row {
    display: inline-flex;
    flex: 0 0 100%;
}

.wrapper:nth-child(1) {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    height: calc(100% / 640 * 570);
}

.green-unit {
    width: calc(100% / 850 * 250);
    height: calc(100% / 570 * 570);
    background-color: rgb(0, 255, 94);
}

.blue-unit {
    width: calc(100% / 850 * 600);
    height: calc(100% / 500 * 80);
    background-color: rgb(67, 82, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-unit {
    width: calc(100% / 850 * 600);
    height: calc(100% / 500 * 490);
    background-color: rgb(247, 246, 249);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left {
    width: calc(100% / 850 * 580);
    height: calc(100% / 640 * 70);
    background-color: rgb(67, 82, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right {
    width: calc(100% / 850 * 270);
    height: calc(100% / 640 * 70);
    background-color: rgb(67, 82, 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-photo {
    width: 100%;
    height: 100%;
}

.header {
    color: rgb(162, 129, 192);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: calc(1vw + 1vh + 1vmin);
    margin: 0;
}

.main-content {
    color: rgb(162, 129, 192);
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1vw + 1vh + 1vmin);
}

.footer {
    color: rgb(162, 129, 192);
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1vw + 1vh + 1vmin);
}

.first-logo {
    width: 30%;
    height: 90%;
}

.second-logo {
    width: 15%;
    height: 60%;
}